body#landing {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@font-face {
    font-family: 'Bungee Shade';
    src: url('./lib/bungee/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: 'Bungee';
    src: url('./lib/bungee/Bungee-Regular.ttf');
}

div#header {
    font-family: 'Bungee Shade', cursive;
    font-size: 700%;
    text-align: center;
    user-select: none;
}

h2 {
    font-family: 'Bungee', cursive;
}

div#create-lobby {
    padding-top: 25px;
}

div.lobby {
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

div#timer-bar-outer {
    width: 100%;
    height: 10px;
}

div#timer-bar-inner {
    width: 10%;
    height: 100%;
    background-color: blue;
}

form#create-lobby-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

div.create-lobby-item {
    padding: 10px;
}

div#other-players {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 100%;
    overflow-x: auto;
}

div.player {
    text-align: center;
    min-width: 200px;
    padding: 20px;
}

div.my-table {
    text-align: center;
    padding: 20px;
}

div.hand-cards {
    text-align: center;
    flex-grow: 2;
    padding: 20px;
}

div#my-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div#center-area {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

div#card-stack {
    text-align: center;
    padding: 25px;
}

div#stack-info {
    display: flex;
}

span#stack-info-span {
    margin: auto;
}

div#player-table-div {
    display: none;
}

div#player-info {
    display: none;
    text-align: center;
}

img.table-icons {
    width: 15px;
}

img.card-front-img {
    transition: 0.1s ease;
}

img.card-front-img:hover {
    opacity: 0.2;
    cursor: pointer;
}

img.card {
    border: 2px solid white;
    border-radius: 10px;
    margin: 3px;
}

img.card-selected {
    border-color: blue;
}

img.card-disabled {
    opacity: 0.2;
}

img.card-disabled:hover {
    cursor: not-allowed;
}

span#join-lobby {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
