body#landing {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@font-face {
    font-family: 'Bungee Shade';
    src: url('./lib/bungee/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: 'Bungee';
    src: url('./lib/bungee/Bungee-Regular.ttf');
}

div.header {
    font-family: 'Bungee Shade', cursive;
    font-size: 800%;
    text-align: center;
}

h2 {
    font-family: 'Bungee', cursive;
}

div.landing {
    padding: 50px;
}

form#create-lobby-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

div.create-lobby-item {
    padding: 10px;
}

div#other-players {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 100%;
    overflow-x: auto;
}

div.player {
    text-align: center;
    min-width: 200px;
    padding: 20px;
}

div.my-table {
    text-align: center;
    padding: 20px;
}

div.hand-cards {
    text-align: center;
    flex-grow: 2;
    padding: 20px;
}

div#my-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div#card-stack {
    text-align: center;
    padding: 25px;
}
